<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="countryMapper">
	
	<!-- 
	<select id="selectCountryList" resultMap="CountryDto" >
		select 
			country_id,
			country_name,
			country_kor_name,
			country_nick_name_1,
			country_nick_name_2,
			country_language
			from country
    </select>
     -->
    
</mapper>